body {
    background: rgb(247, 225, 34);
    color: rgb(0, 0, 0);
}

.js-image {
    width: 30%;
    height: 30%;
    padding-left: 20%;

}

h1{
    margin: 0;
    padding-left: 10%;
    padding-top: 8%;
}